<div class="section-block-grey">
  <div class="container">
    <div class="section-heading center-holder">
      <h2 class="bold">Our team. Your advantage</h2>
      <div class="section-heading-line"></div>
      <p>Our management team brings together considerable talent and experience in a variety of fields.
        Their extensive exposure to the workings of international markets helps them clearly understand the global
        perspectives of our customers.</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-12">
        <div class="team-classic"><img src="/home/img/content/team/philip.jpg" alt="img">
          <div class="team-classic-overlay">
            <div class="team-classic-content"><a href="https://www.linkedin.com/in/phi-quang-phu-4085b116/" target="blank"><i
                  class="fab fa-linkedin-in"></i></a></div>
            <div class="team-classic-name">
              <h4>Philip Phi</h4>
              <h6 class="italic libre-baskerville">Director</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-12">
        <div class="team-classic"><img src="/home/img/content/team/david.jpg" alt="img">
          <div class="team-classic-overlay">
            <div class="team-classic-content"><a href="https://www.linkedin.com/in/daviddang91/" target="blank"><i
              class="fab fa-linkedin-in"></i></a></div>
            <div class="team-classic-name">
              <h4>David Dang</h4>
              <h6 class="italic libre-baskerville">CTO</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-12">
        <div class="team-classic"><img src="/home/img/content/team/james.jpg" alt="img">
          <div class="team-classic-overlay">
            <div class="team-classic-content"><a href="https://www.linkedin.com/in/anhchuyen/" target="blank"><i
              class="fab fa-linkedin-in"></i></a></div>
            <div class="team-classic-name">
              <h4>James Nguyen</h4>
              <h6 class="italic libre-baskerville">Manager</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-12">
        <div class="team-classic"><img src="/home/img/content/team/michel.jpg" alt="img">
          <div class="team-classic-overlay">
            <div class="team-classic-content"><a href="https://www.linkedin.com/in/%C4%91%E1%BA%B7ng-c%C3%B4ng-29b60138/" target="blank"><i
              class="fab fa-linkedin-in"></i></a></div>
            <div class="team-classic-name">
              <h4>Michel Dang</h4>
              <h6 class="italic libre-baskerville">Team Leader</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>