<div class="swiper-main-slider-fade swiper-container full-height">
  <div class="swiper-wrapper">
    <div class="swiper-slide black-overlay-50" style="background-image:url(/home/img/content/slider/slide19.jpg);">
      <div class="container">
        <div class="slider-content center-holder mt-60-md">
          <h4 class="extra-light uppercase animated fadeInDown">Expect nothing less than perfect</h4>
          <h2 class="extra-light uppercase animated fadeInDown">Design, Development, Marketing</h2>
          <h5 class="light uppercase animated fadeInUp">Crafting visually stunning memorable experiences for web and interfaces.</h5>
          <div class="animated fadeInUp mt-30">
            <a href="#" class="primary-button semi-rounded button-lg w-300">Contact
              Us
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide black-overlay-50" style="background-image:url(/home/img/content/slider/slide20.jpg);">
      <div class="container">
        <div class="slider-content center-holder mt-60-md">
          <h4 class="extra-light uppercase animated fadeInDown">We’re on the top of everything</h4>
          <h2 class="extra-light uppercase animated fadeInDown">Design solutions for any media</h2>
          <h5 class="light uppercase animated fadeInUp">Digitally forward creative. Connected creativity. We are intelligence
            in action.</h5>
          <div class="animated fadeInUp mt-30">
            <a href="#" class="white-button semi-rounded button-lg w-300">Contact
              Us
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide black-overlay-70" style="background-image:url(/home/img/content/slider/slide18.jpg);">
      <div class="container">
        <div class="slider-content center-holder mt-60-md">
          <h4 class="extra-light uppercase animated fadeInDown">We develop websites that ignite your business
          </h4>
          <h2 class="extra-light uppercase animated fadeInDown">Having a plan feels good</h2>
          <h5 class="light uppercase animated fadeInUp">Digitally forward creative. Connected creativity. We are intelligence
            in action.</h5>
          <div class="animated fadeInUp mt-30">
            <a href="#" class="primary-button semi-rounded button-lg w-300">Contact
              Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<div class="section-block">
  <div class="container">
    <div class="section-heading center-holder">
      <small>Full Service Web Design Agency</small>
      <h2 class="bold">Where our solutions become your internet reality</h2>
      <div class="section-heading-line"></div>
      <p>Our team of Software engineers and professional developers has the technical expertise and over a decade of experience
        in emerging software technologies and can meet all your software outsourcing demands.</p>
    </div>
    <div class="row mt-40">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="feature-float clearfix">
          <div class="feature-float-icon"><i class="icon-website"></i></div>
          <div class="feature-float-content">
            <h4>Web Development</h4>
            <p>Web Development provides an effective and robust medium for communicating and delivering content to your customers
              and clients.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="feature-float clearfix">
          <div class="feature-float-icon"><i class="icon-mobile-phone"></i></div>
          <div class="feature-float-content">
            <h4>Mobile App Development</h4>
            <p>We design and develop high-performance, innovative apps for our clients to take their nascent ideas to the
              next level.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="feature-float clearfix">
          <div class="feature-float-icon"><i class="icon-shopping-cart"></i></div>
          <div class="feature-float-content">
            <h4>SaaS Development</h4>
            <p>Our team of software developers is trained to provide you with the best SaaS solution development services.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="center-holder mt-20"><a href="#" class="primary-button button-md">View
        Our Services</a></div>
  </div>
</div>


<div class="section-block-bg right-position" style="background-image: url('/home/img/content/web/homebg1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-10 col-12 offset-md-6">
        <div class="section-heading left-holder">
          <h3 class="bold">Our software development expertise.</h3>
          <div class="section-heading-line"></div>
        </div>
        <div class="text-content-big mt-10">
          <p>With ground-breaking developments happening in the fields of technology and communication in Vietnam, outsourcing
            software development to Vietnam has become a highly sought-after and profitable option. At FITI Soft, we have
            a team of seasoned professionals who are skilled at custom application development and create bespoke software
            applications tthat not only meet the clients' requirements, but also adhere to the global standards of software
            engineering.
          </p>
        </div>
        <div class="mt-30"><a href="#" class="primary-button button-sm">Contact
            Us
          </a></div>
      </div>
    </div>
  </div>
</div>

<div class="section-block">
  <div class="container">
    <div class="section-heading center-holder">
      <small>Your technology partner</small>
      <h2 class="bold">Award winning projects</h2>
      <div class="section-heading-line"></div>
      <p>Our team of Software engineers and professional developers has the technical expertise and over a decade of experience
        in emerging software technologies and can meet all your software outsourcing demands.</p>
    </div>
    <div class="grid-gallery-3col gallery-style-1 clearfix">
    </div>
   
    <div class="center-holder mt-60"><a href="#" class="primary-button-bordered button-md">View
        All Projects</a>
    </div>
  </div>
</div>

<%- partial('./partials/team.html') %>

  <div class="section-block">
    <div class="container">
      <div class="section-heading center-holder">
        <small>Perfect & productive</small>
        <h3 class="bold">Read Our Latest News</h3>
        <div class="section-heading-line"></div>
      </div>
      <div class="row mt-60">
      </div>
    </div>
  </div>

  <div class="section-block-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 col-12" id="formContact">
          <div class="contact-form-md white-background shadow-primary">
            <h5 class="center-holder">Let's talk about your Project.</h5>
            <form method="POST" onsubmit="return submitForm()" class="mt-30">
              <input type="text" name="name" id="name" placeholder="Your Name" required>
              <input type="email" name="email" id="email" placeholder="Your Email" required>
              <textarea name="message" id="message" placeholder="Your Message" required></textarea>
              <input type="hidden" name="_csrf" value="<%- _csrf %>" />

              <button type="submit" id="sendMessage" class="primary-button button-sm full-width">Send Message</button>
            </form>
          </div>
        </div>

        <div class="col-md-5 col-sm-6 col-12" id="statusAler" >
          <div class="alert alert-success" role="alert">
              <b>THANK YOU FOR CONTACTING US! </b>
              <p class="text-success">We appreciate you contacting us. One of our colleagues will get back to you shortly.
              </p>
              <p class="text-success">Have a great day!</p>
            </div>
      </div>


        <div class="col-md-7 col-sm-6 col-12">
          <div class="pl-45-md">
            <div class="section-heading left-holder mt-25">
              <h3 class="bold">Where expectations meet excellence! Professional web design experts.</h3>
              <div class="section-heading-line"></div>
            </div>
            <div class="text-content-big">
              <p>Thank you for considering FITi Soft for your software development project. No matter how big, small, or
                challenging your project requirement is; our software professionals can provide a solution to your unique
                business needs.</p>
            </div>
            <div class="row mt-20">
              <div class="col-md-6 col-sm-12 col-12">
                <div class="contact-icon-box-dark-color">
                  <div class="contact-icon-box-sm"><i class="icon-mail"></i>
                    <h4>E-mail Adress</h4>
                    <h5>sales@fitisoft.com</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-12">
                <div class="contact-icon-box-dark-color">
                  <div class="contact-icon-box-sm"><i class="icon-map"></i>
                    <h4>Our Location</h4>
                    <h5>No 27 120/4/3, Hoang Hoa Tham street, Tay Ho district, Hanoi, Vietnam.</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <%- partial('./partials/customer.html') %>
