<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href="#" class=""><i class="lnr lnr-chart-bars"></i> <span>Dashboard</span></a></li>
        <li><a href="#" class=""><i class="lnr lnr-briefcase"></i> <span>Projects</span></a></li>
        <li><a href="#" class=""><i class="lnr lnr-picture"></i> <span>Gallery</span></a></li>
        <li><a href="#" class=""><i class="lnr lnr-users"></i> <span>User</span></a></li>
        <li><a href="#" class=""><i class="lnr lnr-pencil"></i> <span>Blog</span></a></li>
        <li>
          <a href="#" class="">
            <i class="lnr lnr-envelope"></i> <span>Contact</span>
          </a>
        </li>
        <li>
          <a href="#subPages" data-toggle="collapse" class="collapsed">
            <i class="lnr lnr-cog"></i>
            <span>Setting</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
          <div id="subPages" class="collapse ">
            <ul class="nav">
              <li><a href="#" class="">General</a></li>
              <li><a href="#" class="">FAQ</a></li>
              <li><a href="#" class="">Privacy Policy</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
