<a class="btn btn-default" href="<%= sails.getUrlFor('admin/project/ProjectController.show') %>">Back to home</a>
<form action="<%= sails.getUrlFor('admin/project/ProjectController.edit') %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_csrf" value="<%- _csrf %>" />
  <input type="hidden" name="id" value="<%= project.id %>">
  <div class="form-group">
    <label for="#">Name project</label>
    <input type="text" class="form-control" name="name" value="<%= project.name %>" required>
  </div>
  <div class="form-group">
    <label for="#">Link project:</label>
    <input type="text" class="form-control" name="link" value="<%= project.link %>" required>
  </div>

  <div class="form-group">
    <label for="#">Description:</label>
    <textarea class="form-control" name="description" rows="4" required><%= project.description %></textarea>
  </div>
  <br>
  <% if (notices.length > 0) { %>
    <div class="alert alert-danger">
      <ul>
        <% _.each(notices, function (notice) { %>
          <li style="text-align: left">
            <%= notice.message %>
          </li>
          <% }) %>
      </ul>
    </div>
    <% } %>
      <div class="form-group">
        <label for="#">Picture:</label>
        <img src="/home/img/content/product/<%= project.image %>" alt="hinh anh" width="200" height="200">
      </div>
      <div class="form-group ">
        <p>Chọn ảnh mới</p>
        <input type="hidden" name="nameFile" id="nameFile">
        <input type="file" class="form-control" name="image" id="idFile" onchange="showname('idFile', 'nameFile')">
      </div>
      <input type="submit" class="btn btn-primary" name="btn-edit" value="Edit">
</form>
<script>
  function showname(idInputFile, idInputText) {
    let name = document.getElementById(idInputFile);

    try {
      document.getElementById(idInputText).value = name.files.item(0).name;

    } catch (error) {
      document.getElementById(idInputText).value = '';
    }
  };
</script>