<footer class="footer-style-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12"><h3>About Us</h3><a href="#"><img
        src="/home/img/logos/logo-footer.png" alt="img"></a>
        <div class="mt-20"><p>The information on this website is protected by copyright. Users of this website are not
          authorized to redistribute, reproduce, republish, modify, or make commercial use of the information without
          the written authorization of FITi Soft.</p></div>
        <ul class="footer-style-1-social-links">
          <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-skype"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-12"><h3>Latest News</h3>
        <ul class="footer-style-1-latest-news">
        </ul>
      </div>


      <div class="col-md-3 col-sm-6 col-12"><h3>Contact Info</h3>
        <ul class="footer-style-1-contact-info">
          <li><i class="fa fa-phone"></i> <span>+84.904.859.696</span></li>
          <li><i class="fa fa-envelope-open"></i> <span>sales@fitisoft.com</span></li>
          <li><i class="fa fa-map-marker-alt"></i> <span>No 27 120/4/3, Hoang Hoa Tham street, Tay Ho district, Hanoi, Vietnam.</span></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-12"><h3>Quick Links</h3>
        <ul class="footer-style-1-links">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Recent Posts</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-style-1-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-12"><h5>FITi Soft © 2018. All Rights Reserved.</h5></div>
        <div class="col-md-6 col-sm-6 col-12">
          <ul class="footer-style-1-bar-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

