<div id="top-bar" class="hidden-md-down">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-12">
        <ul class="top-bar-info">
          <li><i class="fas fa-map-marker-alt"></i>No 27 120/4/3, Hoang Hoa Tham street, Tay Ho district, Hanoi, Vietnam.</li>
          <li><i class="fas fa-phone-square"></i>+84.904.859.696</li>
          <li><i class="fa fa-envelope"></i>sales@fitisoft.com</li>
        </ul>
      </div>
      <div class="col-md-3 col-12">
        <ul class="social-icons hidden-sm">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-skype"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

